//base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Afin d'utiliser plus facilement les rem
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

//typography
body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
}
h2 {
  font-size: 2.3rem;
  line-height: 2.2rem;
}
h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

//variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footerbg-color: #131416;
$cardbg-color: #eaeaea;
$bg-color: rgb(243, 243, 243);

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
img.logo {
  width: 50%;
  height: 6rem;
  padding: 2rem 0 1.2rem 0;
}

i.fas.fa-map-marker-alt {
  padding-right: 1rem;
}
.reservation {
  width: 100%;
  height: auto;

  &--search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cardbg-color;
    padding: 1.5rem;
    border-top: 2px solid #b1b1b1bd;
    box-shadow: inset 0px 4px 10px -1px hsla(0, 0%, 69%, 0.74);
  }
  &--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $bg-color;
    padding: 3rem 0 5rem 0;
    h2,
    p {
      text-align: center;
      margin-bottom: 2rem;
    }
    .btn--explore {
      background: #ff79da;
      border: none;
      background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
      padding: 1.2rem 2.2rem;
      color: white;
      border-radius: 20px;
      box-shadow: 2px 2px 5px -1px rgba(19, 20, 22, 0.48);
      &:hover {
        cursor: pointer;
        opacity: 0.95;
        box-shadow: 3px 3px 5px -1px rgba(19, 20, 22, 0.64);
      }
    }
  }
}
.fct {
  width: 100%;
  height: auto;
  margin: 4.5rem 0;
  h2 {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  .btn--fct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
